$body-bg: hsl(0, 0%, 94%);
$main-color: hsl(259, 100%, 65%);
$secondary-color: hsl(0, 100%, 67%);
$txt-color: #000;
// $almost-white-color: hsl(0, 0%, 98%);
// $medium-gray-color: hsl(0, 0%, 41%);
// $almost-black-color: hsl(0, 0%, 8%);

$off-white: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$smoke-grey: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);
$purple: hsl(259, 100%, 65%);
$light-red: hsl(0, 100%, 67%);

$white: hsl(0, 0%, 100%);
$black: #000;

// $box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
// $border-radius: 7px;

$mobile-width: 450px;
$tablet-width: 800px;

$font-family: 'Poppins', sans-serif;